# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/NetBeansProjects/SwingProgects/CalcRealisation2/JavaApplication13/nbproject/private/
/NetBeansProjects/SwingProgects/CalcRealisation2/CalcRealisation2/nbproject/private/
/NetBeansProjects/SwingProgects/CalcRealisation2/CalcRealisation2/build/
/NetBeansProjects/SwingProgects/CalcRealisation2/CalcRealisation2/dist/
/NetBeansProjects/Applets/CalcAsApplet/nbproject/private/
/NetBeansProjects/Applets/CalcAsApplet/dist/
/NetBeansProjects/Applets/CalcAsApplet/build/
/NetBeansProjects/SwingProgects/TestArrays/nbproject/private/
/NetBeansProjects/SwingProgects/TestArrays/build/
/NetBeansProjects/SwingProgects/TestAllTypesExeption/nbproject/private/
/NetBeansProjects/SwingProgects/TestAllTypesExeption/build/
/NetBeansProjects/SwingProgects/WriteInToFile/nbproject/private/
/NetBeansProjects/SwingProgects/WriteInToFile/build/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_7/build/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_part2/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_part2/build/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_part3/build/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_part3/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_part1/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_FinalPart/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_FinalPart/build/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_OOP_style/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/PleerOnSwing_homework_OOP_style/build/
/NetBeansProjects/SwingProgects/CalcRealisation2/MpPlayerMyVirsion/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/MpPlayerMyVirsion/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/Mp3PlayerMyVirsion/src/ru/rmamedov/player/MyPm3PlayerOnSwing/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/Mp3PlayerMyVirsion/Mp3PlayerMyVersion/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/Mp3PlayerMyVirsion/ru/nbproject/private/
/NetBeansProjects/SwingProgects/SwingForm/Mp3PlayerMyVirsion/build/
/NetBeansProjects/SwingProgects/SQLite&Java/TestSQLiteJDBC_012/src/ru/rmamedov/testJDBC/SQLite&JDBCTest/nbproject/private/
/NetBeansProjects/SwingProgects/SQLite&Java/TestSQLiteJDBC_012/TestJDBC/nbproject/private/
/NetBeansProjects/SwingProgects/SQLite&Java/TestSQLiteJDBC_012/TestJDBC/build/
/NetBeansProjects/SwingProgects/SQLite&Java/TestJTableFromArray/jTableFromArray/nbproject/private/